@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 576px) {
    .carousel-item{
        height: 30vh;
    }
    .carousel-item img{
        height: 100%;
    }
    .para{
        font-size: 13px;
    }
    .heading{
        font-size: 2rem;
    }
}